# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [3]:
tple = tuple([i for i in range(1, 11)])
print(tple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
print(tple[0], tple[len(tple)//2], tple[-1])

1 6 10

In [5]:
print(f"{tple[:3]},\n{tple[-3:]},\n{tple[1:5]}")

(1, 2, 3),
(8, 9, 10),
(2, 3, 4, 5)

In [6]:
m = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print("Matrix:")
for i in m:
    print(i)
print(m[1][2])

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [7]:
tple1 = (1, 2, 3)
tple2 = (4, 5, 6)

c = tple1 + tple2
print(c)

(1, 2, 3, 4, 5, 6)

In [8]:
tple = (1, 2, 2, 3, 4, 4, 4, 3, 5)
print(f"Occurence of 4: {tple.count(4)}")
print(f"Index of first occurence of 2: {tple.index(2)}")

Occurence of 4: 3
Index of first occurence of 2: 1

In [1]:
tple = (1, 2, 3, 4, 5)
a, *b, c = tple
print(a)
print(b)
print(c)

1
[2, 3, 4]
5

In [1]:
lst = [1, 2, 3, 4, 5]
tple = tuple(lst)
print(tple)

(1, 2, 3, 4, 5)

In [3]:
tpl = ((1, 2, 3), ("a", "b", "c"), (True, False))
print(tpl)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [13]:
tpl = (1, 2, 3, 4, 5)
print(f"original tuple: {tpl}")

lst = list(tpl)
lst.append(6)

new_tpl = tuple(lst)
print(f"new tuple : {new_tpl}")

original tuple: (1, 2, 3, 4, 5)
new tuple : (1, 2, 3, 4, 5, 6)

In [ ]:
ss

In [14]:
str = "hello"
tpl = tuple(str)
print(tpl)

joined_tpl = ''.join(tpl)
print(joined_tpl)

('h', 'e', 'l', 'l', 'o')
hello

In [15]:
tpl_dict = {
    (1, 2): 'a',
    (3, 4): 'b',
    (5, 6): 'c'
}
print(tpl_dict)

{(1, 2): 'a', (3, 4): 'b', (5, 6): 'c'}

In [2]:
tple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for i in tple:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [3]:
tple = (1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8, 9, 9, 10)
unique_tple = set(tple)
print(unique_tple)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [1]:
def max_in_tpl(tpl):
    return max(tpl)

def min_in_tpl(tpl):
    return min(tpl)

def sum_of_tpl(tpl):
    return sum(tpl)

sample_tpl = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
print(f"Max: {max_in_tpl(sample_tpl)}")
print(f"Min: {min_in_tpl(sample_tpl)}")
print(f"Sum: {sum_of_tpl(sample_tpl)}")

Max: 9
Min: 1
Sum: 44