### Assignment 1: Creating and Connecting to a Database

In [1]:
# 1. Write a Python function to create a new SQLite3 database named `test.db`.
import sqlite3

def create_database():
    conn = sqlite3.connect('test.db')
    conn.close()
    print('Database created and successfully connected.')
    
create_database()

Database created and successfully connected.

In [2]:
# 2. Write a Python function to create a table named `employees` with columns `id` (integer),
## `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees(
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
    )               
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")
    
create_table()

Table 'employees' created successfully.

### Assignment 2: Inserting Data

In [3]:
# 1. Write a Python function to insert a new employee into the `employees` table.

def insert_employee(id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        INSERT INTO employees(id, name, age, department)
        VALUES(?,?,?,?)
    ''', (id, name, age, department))
    conn.commit()
    conn.close()
    print('Employee inserted successfully.')
    
insert_employee(1, 'Alice', 30, 'HR')

Employee inserted successfully.

In [4]:
# 2. Insert at least 5 different employees into the `employees` table.

insert_employee(2, 'Bob', 25, 'Engineering')
insert_employee(3, 'Charlie', 28, 'Sales')
insert_employee(4, 'David', 30, 'Marketing')
insert_employee(5, 'Eve', 22, 'HR')

Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.

### Assignment 3: Querying Data

In [5]:
# 1. Write a Python function to fetch and display all records from the `employees` table.

def fetch_all():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees')
    records = cursor.fetchall()
    conn.close()
    for i in records:
        print(i)
        
fetch_all()

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 30, 'Marketing')
(5, 'Eve', 22, 'HR')

In [6]:
# 2. Write a Python function to fetch and display all employees from a specific department.

def get_dept(dept):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE department = ?', (dept,))
    records = cursor.fetchall()
    conn.close()
    for i in records:
        print(i)
        
get_dept('HR')

(1, 'Alice', 30, 'HR')
(5, 'Eve', 22, 'HR')

### Assignment 4: Updating Data

In [7]:
# 1. Write a Python function to update the department of an employee based on their `id`.

def update_dept(emp_id, emp_dept):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        UPDATE employees
        SET department = ?
        WHERE id = ?
    ''',(emp_dept, emp_id))
    conn.commit()
    conn.close()
    print("Employee department updated successfully.")
    
update_dept(1, 'Finance')

Employee department updated successfully.

In [8]:
# 2. Update the department of at least 2 employees and display the updated records.

update_dept(2, 'Research')
update_dept(3, 'Customer Support')

print('\n')
fetch_all()

Employee department updated successfully.
Employee department updated successfully.


(1, 'Alice', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Customer Support')
(4, 'David', 30, 'Marketing')
(5, 'Eve', 22, 'HR')

### Assignment 5: Deleting Data

In [9]:
# 1. Write a Python function to delete an employee from the `employees` table based on their `id`.

def delete_emp(emp_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        DELETE FROM employees
        WHERE id = ?
    ''', (emp_id,))
    conn.commit()
    conn.close()
    print("Employee deleted successfully.")
    
delete_emp(5)

Employee deleted successfully.

In [10]:
# 2. Delete at least 1 employee and display the remaining records.

delete_emp(4)
fetch_all()

Employee deleted successfully.
(1, 'Alice', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Customer Support')

### Assignment 6: Advanced Queries

In [11]:
# 1. Write a Python function to fetch and display employees older than a certain age.

def fetch_older_than(emp_age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM employees WHERE age > ?", (emp_age,))
    records = cursor.fetchall()
    for i in records:
        print(i)
    conn.close()
    
fetch_older_than(25)

(1, 'Alice', 30, 'Finance')
(3, 'Charlie', 28, 'Customer Support')

In [12]:
# 2. Write a Python function to fetch and display employees whose names start with a specific letter.

def fetch_letter_start_with(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    for i in records:
        print(i)
    conn.close()
        
fetch_letter_start_with('A')

(1, 'Alice', 30, 'Finance')

### Assignment 7: Handling Transactions

In [13]:
# 1. Write a Python function to insert multiple employees into the `employees` table in a single transaction.
## Ensure that if any insertion fails, none of the insertions are committed.

def insert_multiple_employees(emp):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees(id, name, age, department)
            VALUES(?,?,?,?)
        ''', emp)
    except Exception as e:
        conn.rollback()
        print(f'Error : {e}')
    finally:
        conn.close()
        
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
]

insert_multiple_employees(employees)

In [14]:
# 2. Write a Python function to update the age of multiple employees in a single transaction. 
## Ensure that if any update fails, none of the updates are committed.

def update_multiple_employees(upd):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:        
        cursor.executemany('''
                    UPDATE employees
                    SET age = ?
                    WHERE id = ?
                ''', updates)
        conn.commit()
        print("All employee ages updated successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()
        
updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4), 
    (23, 5)
]

update_multiple_employees(updates)

All employee ages updated successfully.

### Assignment 8: Creating Relationships

In [15]:
# 1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

def create_departments_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments(
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully.")
    
create_departments_table()

Table 'departments' created successfully.

In [16]:
# 2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

def add_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    isolation_level=None
    cursor.executescript('''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees(
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES department(id)
        );
        INSERT INTO employees(id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
        DROP TABLE old_employees;
        COMMIT;
        PRAGMA foreign_keys=on;
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")
    
add_foreign_key()

Table 'employees' modified successfully.

In [19]:
# 3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

def insert_data(dept_id, dept_name, id, name, age, dept):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments(id, name)
            VALUES(?, ?)
        ''', (dept_id, dept_name))
        cursor.execute('''
            INSERT INTO employees(id, name, age, department, department_id)
            VALUES(?, ?, ?, ?, ?)
        ''', (id, name, age, dept, dept_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print(f'Error : {e}')
    finally:
        conn.close()
        
insert_data(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and employee inserted successfully.

### Assignment 9: Indexing and Optimization

In [20]:
# 1. Create an index on the `name` column of the `employees` table.

def create_index():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx ON employees(name)')
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")
    
create_index()

Index on 'name' column created successfully.

In [22]:
# 2. Write a Python function to fetch and display all employees whose names start with a specific letter.
## Compare the performance with and without the index.

import time

def fetch_letter_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for i in records:
        print(i)
        
fetch_letter_performance('A')

Time taken: 0.0010797977447509766 seconds
(1, 'Alice', 32, 'Finance', None)

### Assignment 10: Backing Up and Restoring Data

In [23]:
# 1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

import shutil

def back_up():
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")
    
back_up()

Database backed up successfully.

In [24]:
# 2. Write a Python function to restore the `test.db` database from the `backup.db` file.

def restore():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")
    
restore()

Database restored successfully.