# SQL And SQLite
### SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('examble.db')
connection

In [3]:
cursor = connection.cursor()

In [5]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [6]:
cursor.execute('''Select * from employees''')

In [8]:
## Insert the data in sqlite table
cursor.execute('''
Insert into employees(name, age, department)
               values('Surya', 20, 'Data Scientist')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commit the changes
connection.commit()

In [9]:
## Querying the data from sqlite3/table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Surya', 21, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')
(4, 'Surya', 20, 'Data Scientist')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Finance')
(7, 'Surya', 20, 'Data Scientist')
(8, 'Bob', 25, 'Engineering')
(9, 'Charlie', 35, 'Finance')

In [10]:
## Update the data in table
cursor.execute('''
UPDATE employees
Set age = 21
where name='Surya'
''')

connection.commit()

In [12]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Surya', 21, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')
(4, 'Surya', 21, 'Data Scientist')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Finance')
(7, 'Surya', 21, 'Data Scientist')
(8, 'Bob', 25, 'Engineering')
(9, 'Charlie', 35, 'Finance')

In [13]:
## Delete the data from table
cursor.execute('''
Delete from employees
where name='Bob'
''')

cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Surya', 21, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Surya', 21, 'Data Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Surya', 21, 'Data Scientist')
(9, 'Charlie', 35, 'Finance')

In [14]:
## Working with Sales Data
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
INSERT into sales(date, product, sales, region)
            values(?,?,?,?)                   
''', sales_data)

connection.commit()

In [15]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [16]:
connection.close()

In [17]:
try:
    cursor.execute('Select * from sales')
    rows = cursor.fetchall()

    for row in rows:
        print(row)
        
except Exception as e:
    print(f'Error: {e}')

Error: Cannot operate on a closed database.